<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cieo233.appdevelopmentlab4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DynamicActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".StaticActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoActionBar" />

        <receiver android:name=".StaticReciver">
            <intent-filter>
                <action android:name="com.cieo233.lab4.STATICACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".mWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>

</manifest>